@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot?l5ir53");
  src: url("../fonts/iconfont.eot?l5ir53#iefix") format("embedded-opentype"), url("../fonts/iconfont.ttf?l5ir53") format("truetype"), url("../fonts/iconfont.woff?l5ir53") format("woff"), url("../fonts/iconfont.svg?l5ir53#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "iconfont" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "";
}

.icon-prefs:before {
  content: "";
}

.icon-bells:before {
  content: "";
}

.icon-bokal:before {
  content: "";
}

.icon-cake:before {
  content: "";
}

.icon-clock:before {
  content: "";
}

.icon-happy:before {
  content: "";
}

.icon-moon:before {
  content: "";
}

.icon-peace:before {
  content: "";
}

.icon-sad:before {
  content: "";
}

.icon-sleep:before {
  content: "";
}

.icon-sun:before {
  content: "";
}

.wrapper {
  font-family: "Nunito", sans-serif;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.container {
  padding: 0 15px;
  max-width: 798px;
}

.header {
  position: relative;
  z-index: 5;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 15px 15px;
}
.header__title {
  font-family: "Lobster", cursive;
  text-align: center;
  letter-spacing: 4px;
  margin: 0px 0px 10px 0px;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: calc(25px + 5 * ((100vw - 320px) / 448));
}
.header__parity {
  width: 100%;
  border-radius: 10px;
  text-align: center;
  padding: 5px 10px;
  font-size: calc(25px + 0 * ((100vw - 320px) / 448));
  font-weight: 700;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.remain {
  padding: 5px 10px;
  border-radius: 10px;
  margin: 0px 0px 10px 0px;
  width: 100%;
  font-style: italic;
  font-weight: 700;
  font-size: calc(18px + 6 * ((100vw - 320px) / 448));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.info {
  font-size: calc(19px + 3 * ((100vw - 320px) / 448));
  text-align: center;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  position: absolute;
  z-index: 10;
  width: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transition: -webkit-transform 300ms ease 0s;
  transition: -webkit-transform 300ms ease 0s;
  transition: transform 300ms ease 0s;
  transition: transform 300ms ease 0s, -webkit-transform 300ms ease 0s;
}
.info__toggler {
  z-index: 10;
  position: absolute;
  right: 30px;
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 40px;
  height: 28px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.info__toggler::before, .info__toggler::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 3px;
  width: 35%;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
.info__toggler::before {
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  left: 22%;
}
.info__toggler::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  right: 22%;
}
.info__toggler.active::before {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  left: 22%;
}
.info__toggler.active::after {
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  right: 22%;
}
.info.active {
  -webkit-transition: -webkit-transform 300ms ease 0s;
  transition: -webkit-transform 300ms ease 0s;
  transition: transform 300ms ease 0s;
  transition: transform 300ms ease 0s, -webkit-transform 300ms ease 0s;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
.info div {
  margin: 0px 0px 10px 0px;
}
.info div:last-child {
  margin: 0;
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
  width: 100%;
}
.main__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  overflow: auto;
  max-width: 798px;
  margin: 0 auto;
}

.nav-v {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 8px;
}
.nav-v__body {
  padding: 15px 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}
@media (max-width: 340px) {
  .nav-v__body {
    font-size: 20px;
  }
}
.nav-v__content {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.nav-v__settings {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.nav-v__tab {
  padding: 5px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 30px 0px;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
.nav-v__tab:last-child {
  margin: 0;
}
.nav-v__tab.active {
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
  border-radius: 5px;
}

.schedule {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 15px;
}
.schedule__group {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.day {
  margin: 0px 0px 15px 0px;
  border-radius: 5px;
}
.day:last-child {
  margin: 0;
}
.day__title {
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px 0;
  text-align: center;
  font-weight: 700;
  font-size: calc(22px + 3 * ((100vw - 320px) / 448));
  -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
          box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}
.day__body {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lesson {
  -webkit-box-shadow: 0px -5px 2px -5px rgba(34, 60, 80, 0.6) inset;
          box-shadow: 0px -5px 2px -5px rgba(34, 60, 80, 0.6) inset;
  padding: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 13% auto 8% 13% 32%;
  grid-template-columns: 13% auto 8% 13% 32%;
  grid-auto-flow: column;
  grid-auto-rows: auto;
}
.lesson:last-child {
  margin: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.lesson__none {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
}
.lesson__item {
  font-size: calc(13px + 5 * ((100vw - 320px) / 448));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 3px;
}
.lesson__time {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.lesson__begin {
  margin: 0px 0px 3px 0px;
}
.footer {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.nav-h__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-h__tab {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: calc(22px + 3 * ((100vw - 320px) / 448));
  padding: 10px 0;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
.nav-h__tab.active {
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}