@import "blocks/nullstyle.scss";
@import "blocks/iconfont.scss";

$accent-color: rgb(74, 34, 255);
$bg-color: rgb(239, 252, 255);

$maxWidth: 768;
@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	width: 100%;
	overflow: hidden;

	background-color: $bg-color;
}

.container {
	padding: 0 15px;
	max-width: 798px;
}
.header {
	position: relative;
	z-index: 5;
	flex: 0 1 auto;
	&__body {
		padding: 15px 15px;
	}

	&__title {
		text-align: center;
		font-weight: 700;
		letter-spacing: 2px;
		margin: 0px 0px 15px 0px;
		@include adaptiv-font(30, 25);
	}
}
.remain {
	font-style: italic;
	@include adaptiv-font(24, 18);
	display: flex;
	justify-content: space-between;

	&__time {
	}

	&__countdown {
	}
}

.info {
	@include adaptiv-font(22, 19);
	line-height: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
	position: absolute;
	z-index: 10;
	width: 100%;
	background-color: $accent-color;
	color: white;
	text-shadow: 0 0 3px black;
	transform: translateY(-100%);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);

	transition: transform 300ms ease 0s;

	&__toggler {
		z-index: 10;
		position: absolute;
		right: 30px;
		bottom: 0;
		transform: translateY(100%);
		width: 40px;
		height: 28px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		background-color: $accent-color;
		color: white;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			height: 3px;
			width: 35%;
			background-color: $accent-color;
			background-color: white;
			transition: all 300ms ease 0s;
		}

		&::before {
			transform: translateY(-50%) rotate(45deg);
			left: 22%;
		}
		&::after {
			transform: translateY(-50%) rotate(-45deg);
			right: 22%;
		}

		&.active {
			&::before {
				transform: translateY(-50%) rotate(-45deg);
				left: 22%;
			}
			&::after {
				transform: translateY(-50%) rotate(45deg);
				right: 22%;
			}
		}
	}
	&.active {
		transition: transform 300ms ease 0s;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);

		transform: translateY(0%);
	}
	div {
		margin: 0px 0px 10px 0px;
		&:last-child {
			margin: 0;
		}
	}
	&__countdown {
	}

	&__week {
	}

	&__time {
	}
}

.main {
	display: flex;
	flex: 1 0 auto;
	position: relative;

	&__content {
	}
}
.nav-v {
	background-color: $accent-color;
	// border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	// box-shadow: 1px 0 2px rgba(0, 0, 0, 0.5);
	&__body {
		color: white;
		text-shadow: 0 0 2px black;
		padding: 15px 0;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 30px;
		width: 50px;
	}

	&__content {
		width: 100%;
		flex: 1 0 auto;
		justify-content: center;
		display: flex;
		flex-direction: column;
	}

	&__settings {
		width: 100%;
		flex: 0 1 auto;
	}

	&__tab {
		padding: 5px;
		width: 100%;
		display: flex;
		justify-content: center;
		margin: 0px 0px 30px 0px;
		transition: all 300ms ease 0s;
		&:last-child {
			margin: 0;
		}
		&.active {
			transition: all 300ms ease 0s;
			background-color: $bg-color;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			color: rgb(43, 255, 0);
			text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
		}
	}
}
.footer {
	flex: 0 1 auto;
	background-color: $accent-color;

	&__body {
	}
}

.nav-h {
	&__body {
		display: flex;
	}

	&__tab {
		color: white;
		font-weight: 700;
		letter-spacing: 2px;
		text-shadow: 0 0 2px black;
		@include adaptiv-font(25, 22);
		padding: 10px 0;
		text-align: center;
		flex: 0 0 50%;
		transition: all 300ms ease 0s;
		&.active {
			transition: all 300ms ease 0s;
			box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3) inset;
			background-color: $bg-color;
			color: rgb(43, 255, 0);
			text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
		}
	}
}
