@import "blocks/nullstyle.scss";
@import "blocks/iconfont.scss";

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
// font-family: 'Lobster', cursive;

$maxWidth: 768;
@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	width: 100%;
	overflow: hidden;
}

.container {
	padding: 0 15px;
	max-width: 798px;
}
.header {
	position: relative;
	z-index: 5;
	flex: 0 1 auto;
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 15px 15px;
	}

	&__title {
		font-family: "Lobster", cursive;
		text-align: center;
		// font-weight: 700;
		letter-spacing: 2px;
		margin: 0px 0px 10px 0px;
		padding: 5px 15px;
		border-radius: 10px;
		@include adaptiv-font(30, 25);
	}
}
.remain {
	width: 100%;
	font-style: italic;
	font-weight: 600;
	@include adaptiv-font(24, 18);
	display: flex;
	justify-content: space-between;

	&__time {
	}

	&__countdown {
	}
}

.info {
	@include adaptiv-font(22, 19);
	line-height: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
	position: absolute;
	z-index: 10;
	width: 100%;
	transform: translateY(-100%);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

	transition: transform 300ms ease 0s;

	&__toggler {
		z-index: 10;
		position: absolute;
		right: 30px;
		bottom: 0;
		transform: translateY(100%);
		width: 40px;
		height: 28px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			height: 3px;
			width: 35%;
			transition: all 300ms ease 0s;
		}

		&::before {
			transform: translateY(-50%) rotate(45deg);
			left: 22%;
		}
		&::after {
			transform: translateY(-50%) rotate(-45deg);
			right: 22%;
		}

		&.active {
			&::before {
				transform: translateY(-50%) rotate(-45deg);
				left: 22%;
			}
			&::after {
				transform: translateY(-50%) rotate(45deg);
				right: 22%;
			}
		}
	}
	&.active {
		transition: transform 300ms ease 0s;

		transform: translateY(0%);
	}
	div {
		margin: 0px 0px 10px 0px;
		&:last-child {
			margin: 0;
		}
	}
	&__countdown {
	}

	&__week {
	}

	&__time {
	}
}

.main {
	display: flex;
	flex: 1 0 auto;
	position: relative;

	&__content {
	}
}
.nav-v {
	border-bottom-right-radius: 3px;
	border-top-right-radius: 8px;
	&__body {
		padding: 15px 0;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 30px;
		width: 50px;
	}

	&__content {
		width: 100%;
		flex: 1 0 auto;
		justify-content: center;
		display: flex;
		flex-direction: column;
	}

	&__settings {
		width: 100%;
		flex: 0 1 auto;
	}

	&__tab {
		padding: 5px;
		width: 100%;
		display: flex;
		justify-content: center;
		margin: 0px 0px 30px 0px;
		transition: all 300ms ease 0s;
		&:last-child {
			margin: 0;
		}
		&.active {
			transition: all 300ms ease 0s;
			border-radius: 5px;
		}
	}
}
.footer {
	flex: 0 1 auto;

	&__body {
	}
}

.nav-h {
	&__body {
		display: flex;
	}

	&__tab {
		font-weight: 700;
		letter-spacing: 2px;
		@include adaptiv-font(25, 22);
		padding: 10px 0;
		text-align: center;
		flex: 0 0 50%;
		transition: all 300ms ease 0s;
		&.active {
			transition: all 300ms ease 0s;
		}
	}
}
