$accent-color: rgb(17, 43, 102);
$bg-color: #ebedec;
// $bg-color: #dadada;

$even-color: rgb(191, 152, 48);
$odd-color: rgb(143, 98, 217);

.wrapper {
	background-color: $bg-color;
}

.header {
	&__title {
		// background-color: $bg-color;
		color: $accent-color;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	}

	&__parity {
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
		text-shadow: 0 0 2px black;
		color: white;
		&_even {
			background-color: $even-color;
		}
		&_odd {
			background-color: $odd-color;
		}
	}
}

.remain {
	color: white;
	text-shadow: 0 0 3px black;
	background-color: $accent-color;
	box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
}

.info {
	background-color: $accent-color;
	color: white;
	text-shadow: 0 0 3px black;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
	&__toggler {
		background-color: $accent-color;
		color: white;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
		&::before,
		&::after {
			background-color: $accent-color;
			background-color: white;
		}
	}

	&.active {
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
	}
}

.nav-v {
	background-color: $accent-color;
	box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.5);
	&__body {
		color: white;
		text-shadow: 0 0 2px black;
	}

	&__tab {
		&.active {
			background-color: $bg-color;
			// border-top-left-radius: 5px;
			// border-bottom-left-radius: 5px;
			// color: rgb(43, 255, 0);
			color: $accent-color;
			text-shadow: 0 0 1px $accent-color;
		}
	}
}

.day {
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);

	&__title {
		background-color: $accent-color;
		color: white;
		box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
		&.current {
			// background-color: rgb(19, 160, 0);
			// background-color: rgb(91, 209, 215);
			// background-color: #ea7070;
			background-color: #ff6978;
		}
		&.next {
			// background-color: rgb(197, 132, 12);
			background-color: #6d435a;
		}
	}
}

.lesson {
	box-shadow: 0px -5px 2px -5px rgba(34, 60, 80, 0.6) inset;
	&_lection {
		background-color: rgba(0, 255, 0, 0.2);
	}

	&_practice {
		background-color: rgba(255, 145, 0, 0.2);
	}

	&_none {
		background-color: rgba(0, 255, 234, 0.2);
		// background-color: #ea7070;
	}
}

.hours {
	&__item {
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
	}
	&__title {
		background-color: $accent-color;
		color: white;
		box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
	}

	&__row {
		box-shadow: 0px -5px 2px -5px rgba(34, 60, 80, 0.6) inset;
	}
}

.settings {
	&__block {
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
	}

	&__title {
		background-color: $accent-color;
		color: white;
		box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
	}

	&__item {
		box-shadow: 0px -5px 2px -5px rgba(34, 60, 80, 0.6) inset;
	}

	&__value {
		color: white;
		background-color: $accent-color;
	}

	&__accept {
		background-color: $accent-color;
		color: white;
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
	}
}

.footer {
	background-color: $accent-color;
}

.nav-h {
	&__tab {
		color: white;
		text-shadow: 0 0 2px black;
		&.active {
			box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3) inset;
			background-color: $bg-color;
			// color: rgb(43, 255, 0);
			// text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
			color: $accent-color;
			text-shadow: 0 0 1px $accent-color;
		}
	}
}

$dark-accent-color: #891a1e;
// $dark-bg-color: rgb(48, 48, 48);
$dark-bg-color: #191716;

$dark-even-color: #29524a;
$dark-odd-color: #351431;

@media (prefers-color-scheme: dark) {
	.wrapper {
		background-color: $dark-bg-color;
		color: white;
	}

	.header {
		&__title {
			// background-color: $dark-bg-color;
			color: $dark-accent-color;
			box-shadow: 0 0 3px $dark-accent-color;
		}

		&__parity {
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
			text-shadow: 0 0 2px black;
			color: white;
			&_even {
				background-color: $dark-even-color;
			}
			&_odd {
				background-color: $dark-odd-color;
			}
		}
	}

	.remain {
		color: white;
		text-shadow: 0 0 3px black;
		background-color: $dark-accent-color;
		box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
	}

	.info {
		background-color: $dark-accent-color;
		color: white;
		text-shadow: 0 0 3px black;
		box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
		&__toggler {
			background-color: $dark-accent-color;
			color: white;
			box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
			&::before,
			&::after {
				background-color: $dark-accent-color;
				background-color: white;
			}
		}

		&.active {
			box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
		}
	}

	.nav-v {
		background-color: $dark-accent-color;
		box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.3);
		&__body {
			color: white;
			text-shadow: 0 0 2px black;
		}

		&__tab {
			&.active {
				background-color: $dark-bg-color;
				// border-top-left-radius: 5px;
				// border-bottom-left-radius: 5px;
				// color: rgb(43, 255, 0);
				color: $dark-accent-color;
				text-shadow: 0 0 1px $dark-accent-color;
			}
		}
	}

	.day {
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);

		&__title {
			background-color: $dark-accent-color;
			text-shadow: 0 0 2px black;
			color: white;
			box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
			&.current {
				// background-color: #ff6978;
				background-color: #4d6a39;
				// background-color: #84596b;
			}
			&.next {
				// background-color: rgb(197, 132, 12);
				// background-color: #6d435a;
				// background-color: #84596b;
				// background-color: #94a187;
				background-color: #303636;
			}
		}
	}

	.lesson {
		// box-shadow: 0px -5px 2px -5px rgba(34, 60, 80, 0.6) inset;
		box-shadow: 0px -5px 2px -5px $dark-accent-color inset;
		&_lection {
			// background-color: rgba(0, 255, 0, 0.2);
			// background-color: #4c5b61;
			background-color: #161b33;
		}

		&_practice {
			// background-color: rgba(255, 145, 0, 0.2);
			background-color: #330a0b;
		}

		&_none {
			// background-color: rgba(0, 255, 234, 0.2);
			// background-color: #004e64;
			// background-color: #303636;
			background-color: #4c5b61;
			// background-color: #ea7070;
		}
	}

	.hours {
		&__item {
			box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
		}
		&__title {
			background-color: $dark-accent-color;
			color: white;
			box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
		}

		&__row {
			box-shadow: 0px -5px 2px -5px $dark-accent-color inset;
		}
	}

	.settings {
		&__block {
			box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
		}

		&__title {
			background-color: $dark-accent-color;
			color: white;
			box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
		}

		&__item {
			box-shadow: 0px -5px 3px -5px $dark-accent-color inset;
		}

		&__value {
			color: white;
			background-color: $dark-accent-color;
		}

		&__accept {
			background-color: $dark-accent-color;
			color: white;
			box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
		}
	}

	.footer {
		background-color: $dark-accent-color;
	}

	.nav-h {
		&__tab {
			color: white;
			text-shadow: 0 0 2px black;
			&.active {
				box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3) inset;
				background-color: $dark-bg-color;
				// color: rgb(43, 255, 0);
				// text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
				color: $dark-accent-color;
				text-shadow: 0 0 1px $dark-accent-color;
			}
		}
	}
}
