.wrapper {
  background-color: #303030;
  color: white;
}

.header__title {
  color: white;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.remain {
  color: white;
  text-shadow: 0 0 3px black;
  background-color: #b10404;
  -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
}

.info {
  background-color: #b10404;
  color: white;
  text-shadow: 0 0 3px black;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
}
.info__toggler {
  background-color: #b10404;
  color: white;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}
.info__toggler::before, .info__toggler::after {
  background-color: #b10404;
  background-color: white;
}
.info.active {
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.nav-v {
  background-color: #b10404;
  -webkit-box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.5);
}
.nav-v__body {
  color: white;
  text-shadow: 0 0 2px black;
}
.nav-v__tab.active {
  background-color: #303030;
  color: #b10404;
  text-shadow: 0 0 1px #b10404;
}

.footer {
  background-color: #b10404;
}

.nav-h__tab {
  color: white;
  text-shadow: 0 0 2px black;
}
.nav-h__tab.active {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3) inset;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3) inset;
  background-color: #303030;
  color: #b10404;
  text-shadow: 0 0 1px #b10404;
}