.wrapper {
  background-color: #ebedec;
}

.header__title {
  color: #112b66;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.header__parity {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 2px black;
  color: white;
}
.header__parity_even {
  background-color: #bf9830;
}
.header__parity_odd {
  background-color: #8f62d9;
}

.remain {
  color: white;
  text-shadow: 0 0 3px black;
  background-color: #112b66;
  -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
}

.info {
  background-color: #112b66;
  color: white;
  text-shadow: 0 0 3px black;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
}
.info__toggler {
  background-color: #112b66;
  color: white;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}
.info__toggler::before, .info__toggler::after {
  background-color: #112b66;
  background-color: white;
}
.info.active {
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.nav-v {
  background-color: #112b66;
  -webkit-box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.5);
}
.nav-v__body {
  color: white;
  text-shadow: 0 0 2px black;
}
.nav-v__tab.active {
  background-color: #ebedec;
  color: #112b66;
  text-shadow: 0 0 1px #112b66;
}

.day {
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
}
.day__title {
  background-color: #112b66;
  color: white;
  -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
          box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}
.day__title.current {
  background-color: #ff6978;
}
.day__title.next {
  background-color: #6d435a;
}

.lesson {
  -webkit-box-shadow: 0px -5px 2px -5px rgba(34, 60, 80, 0.6) inset;
          box-shadow: 0px -5px 2px -5px rgba(34, 60, 80, 0.6) inset;
}
.lesson_lection {
  background-color: rgba(0, 255, 0, 0.2);
}
.lesson_practice {
  background-color: rgba(255, 145, 0, 0.2);
}
.lesson_none {
  background-color: rgba(0, 255, 234, 0.2);
}

.hours__item {
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
}
.hours__title {
  background-color: #112b66;
  color: white;
  -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
          box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}
.hours__row {
  -webkit-box-shadow: 0px -5px 2px -5px rgba(34, 60, 80, 0.6) inset;
          box-shadow: 0px -5px 2px -5px rgba(34, 60, 80, 0.6) inset;
}

.footer {
  background-color: #112b66;
}

.nav-h__tab {
  color: white;
  text-shadow: 0 0 2px black;
}
.nav-h__tab.active {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3) inset;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3) inset;
  background-color: #ebedec;
  color: #112b66;
  text-shadow: 0 0 1px #112b66;
}

@media (prefers-color-scheme: dark) {
  .wrapper {
    background-color: #191716;
    color: white;
  }

  .header__title {
    color: #891a1e;
    -webkit-box-shadow: 0 0 3px #891a1e;
            box-shadow: 0 0 3px #891a1e;
  }
  .header__parity {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    text-shadow: 0 0 2px black;
    color: white;
  }
  .header__parity_even {
    background-color: #29524a;
  }
  .header__parity_odd {
    background-color: #351431;
  }

  .remain {
    color: white;
    text-shadow: 0 0 3px black;
    background-color: #891a1e;
    -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
  }

  .info {
    background-color: #891a1e;
    color: white;
    text-shadow: 0 0 3px black;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  }
  .info__toggler {
    background-color: #891a1e;
    color: white;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  }
  .info__toggler::before, .info__toggler::after {
    background-color: #891a1e;
    background-color: white;
  }
  .info.active {
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  }

  .nav-v {
    background-color: #891a1e;
    -webkit-box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.3);
  }
  .nav-v__body {
    color: white;
    text-shadow: 0 0 2px black;
  }
  .nav-v__tab.active {
    background-color: #191716;
    color: #891a1e;
    text-shadow: 0 0 1px #891a1e;
  }

  .day {
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  }
  .day__title {
    background-color: #891a1e;
    text-shadow: 0 0 2px black;
    color: white;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
            box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  }
  .day__title.current {
    background-color: #4d6a39;
  }
  .day__title.next {
    background-color: #303636;
  }

  .lesson {
    -webkit-box-shadow: 0px -5px 2px -5px rgba(34, 60, 80, 0.6) inset;
            box-shadow: 0px -5px 2px -5px rgba(34, 60, 80, 0.6) inset;
  }
  .lesson_lection {
    background-color: #161b33;
  }
  .lesson_practice {
    background-color: #330a0b;
  }
  .lesson_none {
    background-color: #4c5b61;
  }

  .hours__item {
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  }
  .hours__title {
    background-color: #891a1e;
    color: white;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
            box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  }
  .hours__row {
    -webkit-box-shadow: 0px -5px 4px -5px #891a1e inset;
            box-shadow: 0px -5px 4px -5px #891a1e inset;
  }

  .footer {
    background-color: #891a1e;
  }

  .nav-h__tab {
    color: white;
    text-shadow: 0 0 2px black;
  }
  .nav-h__tab.active {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3) inset;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3) inset;
    background-color: #191716;
    color: #891a1e;
    text-shadow: 0 0 1px #891a1e;
  }
}